# CA1707: Identifiers should not contain underscores
[*.{cs,vb}]
dotnet_diagnostic.CA1707.severity = none

# CA1311: Specify a culture or use an invariant version
[*.{cs,vb}]
dotnet_diagnostic.CA1311.severity = none

# CA2201: Do not raise reserved exception types
[*.{cs,vb}]
dotnet_diagnostic.CA2201.severity = none

# Use explicit type instead of var
[*.{cs,vb}]
dotnet_diagnostic.IDE0008.severity = none