<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://translations3006.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7b062271-6bd6-4751-9400-b52c23b85257/resourceGroups/translations3006/providers/Microsoft.Web/sites/translations3006</ResourceId>
    <UserName>$translations3006</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://translations3006.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>