# Azure Pipeline for Renovate Bot
# This pipeline runs Renovate to automatically update dependencies

trigger: none # Disable CI trigger

# schedules:
#     - cron: '0 2 * * 1' # Run every Monday at 2 AM UTC
#       displayName: Weekly Renovate Run
#       branches:
#           include:
#               - master
#               - main
#       always: true

pool:
    vmImage: 'ubuntu-latest'

variables:
    - group: AccessTokens
    - name: RENOVATE_PLATFORM
      value: 'azure'
    - name: RENOVATE_ENDPOINT
      value: 'https://dev.azure.com/evgenyg'
    - name: LOG_LEVEL
      value: 'debug'

steps:
    - script: |
          git config --global user.email 'bot@renovateapp.com'
          git config --global user.name 'Renovate Bot'
          echo "Running Renovate..."
          npx renovate CopyWords/Translations \
            --platform=$(RENOVATE_PLATFORM) \
            --endpoint=$(RENOVATE_ENDPOINT)
      displayName: 'Run Renovate'
      env:
          RENOVATE_TOKEN: $(System.AccessToken)
          GITHUB_COM_TOKEN: $(RENOVATE_TOKEN_GITHUB)
          LOG_LEVEL: $(LOG_LEVEL)
          LOG_FILE: $(Build.ArtifactStagingDirectory)/renovate.log
          LOG_FILE_LEVEL: debug
          RENOVATE_RECREATE_CLOSED: true
